/* Aula inicial :D */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: space-age;
  src: url('../font/space age.ttf');
}

body{
  background-size: auto, 100pc;
  font-family: arial;
}

/* breakpoint */
/* Se a largura for de pelo menos 400 pixel vai carregar estes estilos */
@media(min-width: 400px){
  body{
    font-size: 14px;
  }
}

@media(min-width: 600px){
  body{
    font-size: 18px;
  }
}

@media(min-width: 1200px){
  body{
    font-size: 20px;
  }
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  background-color: rgb(95, 102, 107);
  position: fixed;
  width: 100vw;
  opacity: 75%;
  padding: 1px;
  top:0;
}

.menu ul{
  display:flex;
  justify-content: space-around;
}

.menu li{
  list-style:none;
}

.menu a{
  display: block;
  background-color: red;
  padding: 10px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.site-subtitle2,
.site-subtitle,
.site-title{
  font-family: space-age;
  color: whitesmoke;
  text-align: center;
  filter: opacity(95%)
}

.site-title{
  font-size: 38px ;
}

.site-subtitle2,
.site-subtitle{
  font-style: italic;
}

.site-subtitle{
  font-size: 30px ;
}

.site-subtitle2{
  font-family: 'Segoe UI'; /*, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 15px;
}

.logo{
  width: 120px;
  filter: opacity(25%);
  filter: blur(85%);
  margin-top: 5%;
  margin-left: 33%;
}

.copyright{
  position: absolute;
  bottom: 0%;
  color: whitesmoke;
  font-family: 'Segoe UI';
  font-size: 65%;
}

.img-portfolio{
  height: 180px;
  width: 180px;
}