/* Aula inicial :D */
@font-face {
  font-family: space-age;
  src: url('../font/space age.ttf');
}

body{
  background-size: auto, 100pc;
  font-family: arial;
}

.menu{
  background-color: rgb(95, 102, 107);
  opacity: 75%;
  padding: 1px;
}

.menu ul{
  display:flex;
  justify-content: space-around;
}

.menu li{
  list-style:none;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.site-subtitle2,
.site-subtitle,
.site-title{
  font-family: space-age;
  color: whitesmoke;
  text-align: center;
  filter: opacity(95%)
}

.site-title{
  font-size: 38px ;
}

.site-subtitle2,
.site-subtitle{
  font-style: italic;
}

.site-subtitle{
  font-size: 30px ;
}

.site-subtitle2{
  font-family: 'Segoe UI'; /*, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 15px;
}

.logo{
  position: absolute;
  top: 28%;
  left: 47%;
  margin: 0;
  padding: 0; 
  width: 120px;
  height: auto;
  filter: opacity(25%);
  filter: blur(85%);
}

.copyright{
  position: absolute;
  bottom: 0%;
  margin: 0;
  padding: 0; 
  color: whitesmoke;
  font-family: 'Segoe UI';
  font-size: 65%;
}